body{
    color: rgb(64, 60, 61);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.navbar-light .navbar-brand {
    color: rgba(64, 60, 61, 0.7);
    font-family: 'Oleo Script', cursive;
}

.bg-light{
    background: rgb(240, 240, 240)!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: gray;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: gray;
    font-size: 10px; 
}

.pills-tab a{
    margin: 60px auto auto auto;
}

.grid-view img{
    max-height: 250px;
    height: 100%;
    object-fit: cover;
}

img{
    width: 100%;
}

.card-wrapper{
    background: rgb(228, 228, 228);
    overflow: hidden;
}

.card{
    max-width: 700px;
    background: white;
    margin: 30px auto 60px auto;
}

.date{
    color: rgba(64, 60, 61, 0.6);
    margin-left: auto;
}

.card-header{
    font-size: 20px;
}

.side-spacing{
    padding: 5px 10px;
}

.card-header p{
    margin-bottom: 0;
}

.likes-count{
    font-weight: 600;
    margin-bottom: 5px;
    color: #545b62;
}

.user-actions{
    color: rgba(64, 60, 61, 0.6);
}

hr{
    margin: 5px auto;
}

.modal-dialog{
    max-width: 600px;
}

.modal-body{
    padding-bottom: 5px;
}

.newcard-text{
    width: 100%;
    border-radius: 0.25rem;
}

.newcard-actions i{
    border-radius: 0.25rem;
    border: 1px solid rgb(211, 211, 211);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cancel-button{
    border: 1px solid rgb(211, 211, 211);
    color: rgba(64, 60, 61);
}